*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #00a8ff;
  --color-secondary: #8dd9ff;
  --color-9: #051a38;
  --color-7: #142f54;
  --color-5: #2c4870;
  --color-3: #4c678c;
  --color-2: #758aa8;
  --color-1: #a1acbb;
  --color-grey-9: #858f93;
  --color-grey-7: #9aa2a5;
  --color-grey-5: #d2d7d9;
  --color-grey-3: #a5b8c1;
  --color-grey-2: #859fab;
}
.scoring-main {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.6;
  color: black;
  background-color: var(--color-grey-5);
}

.edit-panel {
  position: fixed;
  top: 0;
  background-color: grey;
  width: 100%;
  align-items: center;
}

.action-panel {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 8rem;
  background: grey;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.finish-button {
  position: absolute;
  right: 0;
}

.code-action {
  position: absolute;
  left: 0;
}

.comp-panel {
  position: absolute;
  top: 20px;
  width: 90%;
  max-width: 600px;
  /* border: dotted 1px rgb(206, 205, 205); */
}
/* .comp-row */
.comp-row * {
  cursor: pointer;
}
.comp-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8.5em;
  /* grid-template-columns: 2fr 1fr; */
  border: 1px solid var(--color-grey-7);
  background-color: white;
  box-shadow: 5px 5px 5px var(--color-grey-7);
  /* padding: 1em; */
  margin: 1.5em 0em;
  border-radius: 10px;
  border-top-left-radius: 50px 20px;
  border-bottom-right-radius: 50px 20px;
  /* transition: height 500ms; */
}

.comp-row.show-finish > .comp-info {
  top: 10%;
  height: 5.5em;
  /* transition: height 500ms ease reverse; */
}

.comp-info {
  display: grid;
  height: 9.5em;
  flex-direction: column;
  grid-template-columns: 5% 20% 20% 20% 20% 15%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    'detail-3 detail-3 detail-3 detail-3'
    'detail-1 detail-1'
    'detail-2 detail-4';
  transition: height 500ms ease;
  transition-delay: 200ms;
}

.detail-1 {
  grid-area: detail-1;
  display: block;
  font-size: 6vh;
  font-weight: bold;
  /* text-overflow: clip; */
  overflow: hidden;
  white-space: nowrap;
  grid-row: 2 /4;
  grid-column-start: 2;
  grid-column-end: 5;
  align-self: center;
  justify-self: left;
}

.detail-2 {
  /* grid-column: auto; */
  grid-area: detail-2;
  display: block;
  font-size: smaller;
  align-self: flex-end;
  justify-self: left;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.detail-3 {
  /* grid-column: auto; */
  grid-area: detail-3;
  display: block;
  font-size: smaller;
  text-align: right;
  align-self: flex-end;
  justify-self: left;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 5;
}

.detail-4 {
  /* grid-column: auto; */
  grid-area: detail-4;
  display: block;
  font-size: smaller;
  align-self: start;
  justify-self: left;
  word-wrap: normal;
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.comp-row.show-finish > .finish-record {
  display: grid;
  padding-right: 0;
  height: 30%;
  border-top: 1px solid var(--color-grey-7);
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 25% 25% 25% 25%;
  /* grid-template-areas:
    "fa-edit fa-edit fa-edit fa-edit"
    "finshInfo finsihInfo finsihInfo finsihInfo"
    "fa-trash-alt fa-trash-alt fa-trash-alt fa-trash-alt"; */

  animation: flexanimation 1s ease-out forwards;
}
.finish-record {
  display: none;
  height: 0px;
  transition: 500ms;
}
.comp-row.show-finish > .finish-record {
  opacity: 1;
  animation-delay: 300ms;
  animation: fadeIn 1.5s ease-out forwards;
}

.finish-info {
  grid-area: finishInfo;
  grid-row: 2/4;
  grid-column: 4/6;
  /* padding-right: 10px; */
  font-weight: bold;
  font-size: 5vh;
  justify-self: right;
  align-self: center;
  opacity: 0;
}

.edit-icon {
  grid-area: fa-edit;
  grid-row: 2/4;
  grid-column: 3/4;
  padding-right: 10px;
  justify-self: right;
  align-self: center;
  font-size: 3vh;
  color: var(--color-grey-2);
  cursor: pointer;
}
.check-icon {
  grid-area: fa-check;
  grid-row: 2/4;
  grid-column: 6/7;
  justify-self: center;
  align-self: center;
  font-size: 3vh;
  color: green;
  cursor: pointer;
}
.delete-icon {
  grid-area: fa-trash-can;
  grid-row: 2/4;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 3vh;
  color: var(--color-grey-2);
  cursor: pointer;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
}
@keyframes flexanimation {
  100% {
    flex-grow: 8;
  }
}
@keyframes myanim {
  50% {
    flex: 1;
  }
}
.code-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adjust-button {
  display: none;
  border: solid 1px black;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  border-radius: 20px;
}

.adjust-button.plus {
  grid-area: plusButton;
  grid-column: 1/5;
  justify-self: center;
  border-top: 0;
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.adjust-button.minus {
  grid-area: minusButton;
  grid-row: 4;
  grid-column: 1/5;
  justify-self: center;
  border-right-width: 0;
  border-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.code-button {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropup {
  position: relative;
  display: inline-block;
}

/* dropup Content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  bottom: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #3e8e41;
}
